* {
    position: relative;
    width: 1366px;
    height: 7680px;
    background: linear-gradient(180deg, #66A8B7 0%, #12404A 48.79%, #07191D 100%) no-repeat;
    z-index: -2;
}

body .quadrado {
    position: absolute;
    width: 1170px;
    height: 7480px;
    left: -65px;
    top: 40px;
    margin: 100px;
    background-color: #BCE9F3;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.titleLancamento {
    position: absolute;
    width: 374px;
    height: 71px;
    left: 196px;
    top: 156px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #207183;
}

.infoLancamento {
    position: absolute;
    width: 963px;
    height: 136px;
    left: 196px;
    top: 275px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    /* or 107% */
    display: flex;
    align-items: center;
    color: #207183;
    mix-blend-mode: normal;
}

.questionLancamento {
    position: absolute;
    width: 995px;
    height: 50px;
    left: 196px;
    top: 459px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    /* or 111% */
    display: flex;
    align-items: center;
    color: #207183;
    mix-blend-mode: normal;
}

input.select_lancamento {
    position: absolute;
    width: 300px;
    height: 25px;
    left: 850px;
    top: 230px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: rgba(32, 113, 131, 0.5);
    mix-blend-mode: luminosity;
    border: 0px;
    padding: unset;
    background-color: #BCE9F3;
    outline: none;
}
